.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.headerdash
{
  background-color: #107aca;
  text-align: center;
  height: 100px;
 color: white;
}
.logo{
  float: left;
  margin: 25px;

}.registerpraticiens{
  
  
  text-align: center;
}
.macarte{
  text-align: center;
  justify-content: center;
}
.login{
  
  
  text-align: center;
}